
body {
 background-color:#003543;
  margin:0;
  padding:0;
  
}
.formu{

  margin: auto;
  font-size:20px;
  color: white;

}
.icon{
    width:160px;
     height:100px;
    	text-align:center;
}

.texto{

	font-size:28px;
	text-align: center;
	color:#FFEDDA;
	
}
.loginColor{
	    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
  height: 500px;
  margin: 10px;
  padding: 0px;
  background:#ffca66;
  border: solid #000;
  border-top-width: 1px;
  border-left-width: 2px;

}
.input{
	
	width: 250px;
	padding: 8px 20px;
	margin: 1px;
	box-sizing: border-box;
	border: none;
  border-radius: 8px;
	border-bottom: 1px solid #ffd369;
	transition: width 0.2s ease-in-out;
	background-color:#eeeeee;
	font-size:18px;
	text-align: center;
  color:#564a4a;
	
	
}

.titulo{
   font-size:12px;
   color:#ef6864;
 font-weight: bold;
}
.texto{
  text-align: center;
 
}
.checkbox{
  color: #ffff;
  padding: 1px 3px;
  font-size: 14px;
}
.btn3{
  color: #ffff;
  padding: 1px 3px;
  font-size: 14px;
}
.btn2{

  text-align: center;
  background-color: #DF2E2E;
  border: none;
  color: white;
  padding: 8px 85px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-size:25px;
  font-weight: bold;
  display: block;
  text-decoration: none;
  
 
}
