
body {
  background-color:#0c6e19;
  margin:0;
  padding:0;
}
.formu{
  width:100%;
  font-size:20px;
	color:#FFEDDA;

}
.icon{
  width:160px;
  height:100px;
  text-align:center;
}

.texto{
	font-size:28px;
	text-align: center;
	color:#FFEDDA;
}
.loginColor{
  margin: auto;
  width:80%;
  height:100%;
  padding: 5%;
  background:rgb(10, 10, 10);
}
.input{
	width: 200px;
	padding: 8px 20px;
	margin: 1px;
	box-sizing: border-box;
	border: none;
  border-radius: 8px;
	transition: width 0.2s ease-in-out;
	background-color:#eeeeee;
	font-size:18px;
	text-align: center;
  color:#564a4a;

}

.titulo{
  font-size:12px;
  color:#ef6864;
  font-weight: bold;

}
.texto{
  text-align: center;
}
.checkbox{
  color: #ffff;
  padding: 1px 3px;
  font-size: 14px;
}
.btn3{
  color: #ffff;
  padding: 1px 3px;
  font-size: 14px;
}
.btn2{
  width: 200px;
	padding: 8px 20px;
  text-align: center;
  background-color: #DF2E2E;
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-size:25px;
  font-weight: bold;
  display: block;
  text-decoration: none;
}

