/*

#191A19 Black
#1E5128 Dark
#4E9F3D Green
#D8E9A8 Green
rgb(25, 26, 25)       Black
rgb(30, 81, 40)       Black
rgb(78, 159, 61)      Green
rgb(216, 233, 168)    Green

/*/


body {
  background-color:rgb(78, 159, 61);
  margin:0;
  padding:0;
}
.formu{
  width:100%;
  font-size:20px;
	color:#ffff;

}
.icon{
  width:160px;
  height:100px;
  text-align:center;
}

.texto{
	font-size:28px;
	text-align: center;
	color:#ffff;
}
.loginColor{
  margin: auto;
  width:80%;
  height:100%;
  padding: 5%;
  background-color: rgb(25, 26, 25);
}
.input{
	width: 200px;
	padding: 8px 20px;
	margin: 1px;
	box-sizing: border-box;
	border: none;
  border-radius: 8px;
	transition: width 0.2s ease-in-out;
	background-color:#ffff;
	font-size:18px;
	text-align: center;

}

.titulo{
  font-size:12px;
  font-weight: bold;

}
.texto{
  text-align: center;
}
.checkbox{
  color: #ffff;
  padding: 1px 3px;
  font-size: 14px;
}
.btn3{
  color: #ffff;
  padding: 1px 3px;
  font-size: 14px;
}
.btn2{
  width: 200px;
	padding: 8px 20px;
  text-align: center;
  background-color:#d62828;
  border: none;
  color: #ffff;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-size:25px;
  font-weight: bold;
  display: block;
  text-decoration: none;
}

